manifest {
	description = 'Exome and Lymphoma params' 
	nextflowVersion = '20.10.0'
}

params {
	input = "${projectDir}/sample_list.csv"
	sequences = "${projectDir}/sequences/"
	outdir = "${projectDir}/Final_Output"
	adapters = "${projectDir}/assets/TruSeq2-PE.fa"
	genome = "${projectDir}/assets/resources_broad_hg38_v0_Homo_sapiens_assembly38.fasta"
	genome_dir = new File(genome).parent
	ind_files = new File(genome).name
	site1 = "${projectDir}/assets/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
	site1_idx  = "${projectDir}/assets/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi"
	site2 = "${projectDir}/assets/Homo_sapiens_assembly38.dbsnp138.vcf.gz"
	site2_idx  = "${projectDir}/assets/Homo_sapiens_assembly38.dbsnp138.vcf.gz.tbi"
	bedfile  = "${projectDir}/assets/Exome_hg19_sortd.bed"
	//deepvariant = "deepvariant"
	somaticseq = "somaticseq"
	annovar_humandb = "${projectDir}/assets/humandb"
	gen_ref = "${projectDir}/assets/gene_fullxref.txt"
	cava_config = "${projectDir}/assets/config_cava.txt"
	//cava_config_lymphoma = "${projectDir}/assets/config_cava_lymphoma.txt"
	//ensembl_db = "${projectDir}/assets/ensembl75.gz"
	//ensembl_db_index = "${projectDir}/assets/ensembl75.gz.tbi"
	//pharma_input = "${projectDir}/assets/For_pharmacogenomics.xlsx"
	//preprocessed_intervals="${projectDir}/assets/targets.preprocessed.interval_list"
	//ploidy_model = "${projectDir}/assets/ploidy24-model"
	//cohort_model = "${projectDir}/assets/cohort24-model"
	coverview_config = "${projectDir}/assets/coverview_config.txt"
	control_bqsr_bam = "${projectDir}/assets/REACTIVE1-TwistLymphoma.old_final.bam"
	control_final_bam = "${projectDir}/assets/REACTIVE1-TwistLymphoma.final.bam"
	gridss_exclude_list = "${projectDir}/assets/ENCFF356LFX.bed"
	cnvkit_reference = "${projectDir}/assets/Ref_lymphoma_ffpe_6.cnn"
	//cnvkit_reference_delIG = "${projectDir}/assets/Reference_combpanel_delIG.cnn"
	gene_scatter_list = "${projectDir}/assets/exonwise_lymphoma_list.txt"
}

def humandb_real = new File(params.annovar_humandb).canonicalPath
def reffile_real = new File(params.gen_ref).canonicalPath


process {

	// TODO nf-core: Check the defaults for all processes
	// cpus   = { 1      * task.attempt }
	// memory = { 6.GB   * task.attempt }
	// time   = { 4.h    * task.attempt }

	errorStrategy = 'terminate'
	maxRetries    = 1
	maxErrors     = '-1'
	executor      = 'pbspro'

	withLabel:process_single {
		cpus   = { 1                   }
		memory = { 6.GB * task.attempt }
		time   = { 4.h  * task.attempt }
	}
	withLabel:process_low {
		cpus   = { 8     * task.attempt }
		memory = { 32.GB * task.attempt }
		time   = { 8.h   * task.attempt }
	}
	withLabel:process_medium {
		cpus   = { 16     * task.attempt }
		memory = { 64.GB * task.attempt }
		time   = { 16.h   * task.attempt }
	}
	withLabel:process_high {
		cpus   = { 32    * task.attempt }
		memory = { 200.GB * task.attempt }
		time   = { 32.h  * task.attempt }
	}
	withLabel:process_long {
		time   = { 20.h  * task.attempt }
	}
	withLabel:process_high_memory {
		memory = { 200.GB * task.attempt }
	}

	withName:TRIM {
		container = 'ln1:5000/fastp:1.0.1--c8b87fe62dcc103c'
	}
	withName:/(MAPBAM|ABRA_SORT|CHR13_BAM_GEN|SUBSAMPLE|OFFTARGET_BAM_INDEX)/ {
		container = 'ln1:5000/molhemat/bwa-samtools:1.0'
	}
	withName:/(MARK_DUPS|ALIGNMENT_METRICS|INSERT_SIZE_METRICS)/ {
		container = 'ln1:5000/biocontainers/picard:3.1.0--hdfd78af_0'
	}
	withName: /(BQSR|APPLY_BQSR|MUTECT2)/ {
		container = 'ln1:5000/biocontainers/gatk4:4.3.0.0--py36hdfd78af_0'
	}
	withName:ABRA_BAM {
		container = 'ln1:5000/molhemat/abra:1.0'
		containerOptions = '--entrypoint=""'
	}
	withName:COVERAGE_MOSDEPTH {
		container = 'ln1:5000/biocontainers/mosdepth:0.3.3--h37c5b7d_2'
	}
	withName:/(EXTRACT_COV50|FORMAT_DEEPVARIANT|FORMAT_COVERVIEW|FORMAT_CAVA|FORMAT_PINDEL|FORMAT_SOMATICSEQ|FORMAT_CAVA|FORMAT_ANNOVAR|MERGE_CSV_WES|PLOT_CNVKIT|FORMAT_SV_CALLS|MERGE_CSV_LYMPHOMA)/ {
		container = 'ln1:5000/molhemat/scipy-bgzip:1.0'
	}
	withName: /(ADDGROUPS|HSMETRICS|MUTECT2|DICT_GEN)/ {
		container = 'ln1:5000/biocontainers/gatk4:4.4.0.0--py36hdfd78af_0'
	}
	withName:/(COLLECT_READ_COUNTS|DETERMINE_PLOIDY|CALL_GCNV|POSTPROCESS_GCNV)/ {
		container = 'ln1:5000/broadinstitute/gatk:4.6.0.0'
	}
	withName:FREEBAYES {
		container = 'ln1:5000/molhemat/freebayes:1.0'
	}
	withName:HAPLOTYPECALLER {
		container = 'ln1:5000/broadinstitute/gatk3:3.8-1'
	}
	withName:STRELKA {
		container = 'ln1:5000/mgibio/strelka:2.9.9'
		containerOptions = '--entrypoint=""'
	}
	withName:PLATYPUS {
		container = 'ln1:5000/molhemat/platypus:1.0'
	}
	withName:VARSCAN {
		container = 'ln1:5000/molhemat/varscan:1.0'
	}
	withName:/(LOFREQ|SOMATICSEQ_CONCAT|SOMATICSEQ_LYMPHOMA_CONCAT|MERGE_DEEPVAR_GCNV)/ {
		container = 'ln1:5000/kboltonlab/lofreq:1.0'
	}
	withName: DEEPVARIANT {
		container = 'ln1:5000/google/deepvariant:1.6.1'
	}
	withName:/(VEP|VEP_ANALYSIS)/ {
		container = 'ln1:5000/ensemblorg/ensembl-vep:release_113.0'
		containerOptions = "-v /home/patkarlab-clinical/.vep:/.vep"
	}
	withName:/(ANNOVAR|ANNOVAR_LYMPHOMA|IGV_PREPROCESS)/ {
		container = 'ln1:5000/getwilds/annovar:hg38'
		containerOptions = "-v ${humandb_real}:/databases/humandb -v ${reffile_real}:/databases/gene_fullxref.txt"
	}
	withName:PINDEL_FLT3 {
		container = 'ln1:5000/shuangbroad/pindel:v0.2.5b8'
	}
	withName:/(SOMATICSEQ|SOMATICSEQ_LYMPHOMA)/ {
		container = 'ln1:5000/molhemat/somaticseq:1.0'
	}
	withName:IFCNV {
		container = 'ln1:5000/pderouault/ifcnv:2.2.0'
	}
	withName:CAVA {
		container = 'ln1:5000/molhemat/cava_nf:1.0'
	}
	withName:COVERAGE_COVERVIEW {
		container = 'ln1:5000/molhemat/coverview:1.0'
	}
	withName:COVERAGE_BEDTOOLS {
		container = 'ln1:5000/biocontainers/bedtools:2.31.1--h13024bc_3'
	}
	withName:DEEPSOMATIC {
		container = 'ln1:5000/google/deepsomatic:1.6.1'
	}
	withName:SVABA {
		container = 'ln1:5000/cmopipeline/svaba:0.0.2'
	}
	withName:LUMPY_PREPROCESS {
		container = 'ln1:5000/anthmcg/samtools-python:3.11'
		containerOptions = '--entrypoint=""'
	}
	withName:LUMPY {
		container = 'ln1:5000/halllab/lumpy:v0.2.13-2d611fa'
	}
	withName:GRIDSS {
		container = 'ln1:5000/gridss/gridss:2.13.2'
	}
	withName:DELLY {
		container = 'ln1:5000/molhemat/delly:1.0'
	}
	withName:MANTA {
		container = 'ln1:5000/genieusgenomics/manta:1.6.0'
	}
	withName:CNVKIT {
		container = 'ln1:5000/molhemat/cnvkit:1.0'
	}

}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
	enabled = true
	file    = "${params.outdir}/execution_timeline_${trace_timestamp}.html"
}
report {
	enabled = true
	file    = "${params.outdir}/execution_report_${trace_timestamp}.html"
	overwrite = true
}
trace {
	enabled = true
	file = "${params.outdir}/pipeline_trace_${trace_timestamp}.txt"
	fields = 'hash,task_id,name,status,exit,realtime,%cpu,rss'
}
dag {
	enabled = true
	file    = "${params.outdir}/pipeline_dag_${trace_timestamp}.html"
}

profiles {

	docker {
		docker.enabled          = true
		docker.runOptions       = '-u $(id -u):$(id -g)'
	}
	singularity {
		singularity.enabled    = true
		singularity.autoMounts = true
		docker.enabled         = false
	}
}
